useDynLib(dplR, .registration = TRUE, .fixes = "dplR.")

import(graphics, stats)

importFrom(digest, digest)

importFrom(grDevices, dev.hold, dev.flush, rainbow, dev.capabilities,
           dev.cur, png, dev.off, dev.set, devAskNewPage, dev.capture)

importFrom(grid, gpar, grid.lines, grid.newpage, grid.polygon,
           grid.segments, grid.text, pushViewport, seekViewport, unit,
           viewport, vpList, vpTree, plotViewport, grid.grill, upViewport,
           grid.points, popViewport, grid.rect, textGrob, grid.draw,
           segmentsGrob, linesGrob, grobTree)

importFrom(lattice, panel.abline, panel.dotplot, panel.segments,
           trellis.par.set, xyplot)

importFrom(matrixStats, colAlls, colAnys, colMedians, colSds, rowAlls,
           rowAnys, rowSds)

importFrom(png, readPNG)

importFrom(R.utils, captureOutput)

importFrom(stringi, stri_trans_nfc, stri_trans_nfd)

importFrom(stringr, str_pad, str_trim)

importFrom(utils, head, packageDescription, read.fwf, tail,
           packageVersion, write.table, read.table, write.csv)

import(Matrix)

importFrom(XML, xmlEventParse)

importFrom(plyr, alply)

importFrom(signal, butter, filtfilt)


export(autoread.ids, bai.in, bai.out, ccf.series.rwl, chron, cms,
       combine.rwl, common.interval, corr.rwl.seg, corr.series.seg,
       crn.plot, detrend, detrend.series, ffcsaps, fill.internal.NA,
       gini.coef, glk, hanning, i.detrend, i.detrend.series, morlet,
       net, po.to.wc, pointer, powt, print.redfit, rcs, read.compact,
       read.crn, read.fh, read.ids, read.rwl, read.tridas,
       read.tucson, redfit, runcrit, rwi.stats, rwi.stats.legacy,
       rwi.stats.running, rwl.stats, sea, seg.plot, sens1, sens2,
       series.rwl.plot, skel.plot, spag.plot, strip.rwl, tbrm,
       tridas.vocabulary, uuid.gen, wavelet.plot, wc.to.po,
       write.compact, write.crn, write.rwl, write.tridas,
       write.tucson, plot.rwl, interseries.cor, summary.rwl, plot.crn,
       insert.ring, delete.ring, xskel.ccf.plot, xskel.plot, latexify,
       latexDate, rasterPlot, treeMean, rwl.report, print.rwl.report, 
       plotRings,time.rwl,time.crn,csv2rwl,pass.filt,as.rwl,sss,plot.crs,
       xdate.floater)

S3method(print, redfit)
S3method(plot, rwl)
S3method(plot, crn)
S3method(summary, rwl)
S3method(print, rwl.report)
S3method(time, rwl)
S3method(time, crn)
S3method(plot, crs)